.section--carousel {
  height: 65vh;
}
.carousel__wrapper {
  height: 100%;
}
.carousel__item {
  position: absolute;
  width: 70%;
  height: 65vh;
  transition: transform 1s ease;

  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.toLeft {
  transform: translateX(-79.5%);
  cursor: pointer;
}
.toRight {
  transform: translateX(122.5%);
  cursor: pointer;
}

@media screen and (max-width: 1366px) {
  .section--carousel {
    height: 32.25rem;
  }
  .carousel__item {
    height: 32.25rem;
  }
}
