@use "reset";
@use "fonts";
@use "components/NavBar/navbar";
@use "components/CardVW/cardvw";
@use "components/CardS/cs";
@use "components/Carrusel/carousel";
@use "components/Footer/footer";

$w: 100%;
$h: 100%;
$calc: calc($h - var(--navbar-h));

html,
body,
#root {
  min-width: $w;
}
html {
  overflow-x: hidden;
}
body {
  min-height: $calc;
  height: $calc;
}
